html { 
    background: url(bongonaruto/forest.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#BONGO {
    height: 50%;
    width: 25%;
}

#DivBotones​ {
    height: 25%;
    width: 25%;
}